	<!-- メインコンテンツ -->
	<div class="grid_8 alpha suffix_1">
		<div class="grid_8 underspace">
			<?php print $this->Html->image('addList/title.jpg');?>
		</div>
		<div class="grid_8 underspace top_nav">
			<?php print $this->Html->image('addList/step_02.jpg');?>
		</div>
		<div class="grid_8 underspace"></div>
		
		<!-- じぶんでプレイリストを作成 -->
		<div class="grid_8 underspace">
			<div>
				<?php print $this->Html->image('addList/title_make_01.jpg');?>
				<div class="gray_box result_index">
					<?php echo $this->Form->create('Addlist', array( 'type'=>'POST', 'action'=>'add_complete/'.$a_key, 'name'=>'videolist_form', 'id'=>'videolist_form') ); ?>
						<div class="edit_list">
							<!-- タイトル -->
							<div class="edit_title">
								<p>Title:</p>
								<?php echo $this->Form->text('list_data.list_title', array('placeholder'=>' このPlayListのタイトル') );?>
							</div>
							<!-- 動画選択 -->
							<div class="edit_tracks">
								<p>Tracks:</p>
								
								<ul class="video_box">
									<!-- 動画① -->
								  <li id="v_box01">
									<?php $link_01 = "TINY.box.show({iframe:'". $this->Html->webroot."addlists/search_video/hogehoge/01"."',boxid:'frameless',width:700,height:600,fixed:false,maskid:'blackmask',maskopacity:40,closejs:function(){closeJS()}})"; ?>
									<a onclick="<?php print $link_01;?>"></a>
									<?php echo $this->Form->hidden('video_data.video_01', array('id' => 'vform_01'));?>
								  </li>
									<!-- 動画② -->
								  <li id="v_box02">
									<?php $link_02 = "TINY.box.show({iframe:'". $this->Html->webroot."addlists/search_video/hogehoge/02"."',boxid:'frameless',width:700,height:600,fixed:false,maskid:'blackmask',maskopacity:40,closejs:function(){closeJS()}})"; ?>
									<a onclick="<?php print $link_02;?>"></a>
									<?php echo $this->Form->hidden('video_data.video_02', array('id' => 'vform_02'));?>
								  </li>
									<!-- 動画③ -->
								  <li id="v_box03">
									<?php $link_03 = "TINY.box.show({iframe:'". $this->Html->webroot."addlists/search_video/hogehoge/03"."',boxid:'frameless',width:700,height:600,fixed:false,maskid:'blackmask',maskopacity:40,closejs:function(){closeJS()}})"; ?>
									<a onclick="<?php print $link_03;?>"></a>
									<?php echo $this->Form->hidden('video_data.video_03', array('id' => 'vform_03'));?>
								  </li>
									<div class="clear"></div>
								</ul>
							</div>
							<!-- キャプション -->
							<div class="edit_caption">
								<p>Caption:</p>
								<?php echo $this->Form->textarea( 'list_data.caption', array('placeholder'=>' この本にこの音楽をオススメする理由など'));?>
							</div>
							<div class="reg_btn">
								<?php echo $this->Form->submit( "PlayListを登録する", array('div'=>false) );?>
							</div>
						</div>
					<?php echo $this->Form->end();?>
				</div>
			</div>
		</div>	
		<div class="grid_8 underspace"></div>
		<div class="grid_8 underspace"></div>

	</div>

