	<!-- HEADER -->
    <div data-role="header" data-add-back-btn="false" data-position="fixed">
        <h1>booklovesmusic</h1>
    </div>

	<!-- CONTENT -->
    <div data-role="content">
        <p>
			booklovesmusic（ブック・ラブズ・ミュージック）は、
			読書にぴったりの音楽おすすめサービスです。<br /><br />

			たとえば小説を読んでいて、作品中に出てくる音楽を聴いてみたいと思ったとき。
			あるいはその作品から感じる印象が、じぶんの好きな音楽とぴったり合ったとき。<br /><br />

			booklovesmusicでは、その本を読みながら聴きたいと思った音楽を、
			PlayListとして登録することができます。<br /><br />

			PlayListには、YouTubeの音楽ビデオを3つまで選んで登録できます。
			お気に入りの音楽を聴きながら読書をもっとたのしんでください。<br /><br />

			もちろん他のユーザーが登録したPlayListを聴くこともできます。
			むかし読んだ本におすすめされている音楽を聴いて、本の内容を思い出したり、
			おすすめされている音楽から興味をもって、その本を読んでみたり。<br /><br />

			あなたなりの方法で、booklovesmusicをたのしんでください。
			音楽で読書をもっとおもしろくすること。それがbooklovesmusicの目標です。<br /><br />
        </p>
    </div>

